<footer>
    <div id="topfooter">
        <div id="logos">
            <a href="https://www.pinterest.ca/janmamyroian" target="_blank">
                <img src="/images/pinterest.svg" alt="Pinterest" class="footerlogo" />
            </a>
            <a href="https://www.linkedin.com/in/jan-mamyroian-b45088107/" target="_blank">
                <img src="/images/linkedin.svg" alt="LinkedIn" class="footerlogo" />
            </a>
            <a href="mailto:jan.mamyroian@gmail.com" target="_blank">
                <img src="/images/gmail.svg" alt="Gmail" class="footerlogo" />
            </a>
        </div>
        <div id="line">
            <hr />
        </div>
    </div>
    <div id="bottomfooter">
        <div id="footerdiv">
            <h1>About this site:</h1>
            <p>Here you will find my works and some info about web development.</p>
        </div>
        <div id="language">
            <a href="frindex"><img src="/images/france.svg" alt="French"  /></a>
            <a href="index"><img src="/images/english.svg" alt="English"  /></a>
        </div>
    </div>
</footer>