<!-- Header section -->
<header>
    <img src="images/DONE.svg" alt="Logo" id="logo" onmouseover="rotation()" onmouseout="normal()" onmousedown="flip()"  />
    <div class="dropdown">
        <button class="dropbtn">MENU</button>
        <nav class="dropdown-content">
            <a class="links" href="frindex">ACCUEIL</a>
            <a class="links" href="frworks">PORTFOLIO</a>
            <a class="links" href="frbranding">MARQUAGE</a>
            <a class="links" href="frfaq">QFP</a>
            <a class="links" href="frcontact">CONTACTER</a>
        </nav>
    </div>
</header>