<header onload="loading()" id="header">
    <img src="/images/DONE.svg" alt="Logo" id="logo" onmouseover="rotation()" onmouseout="normal()" onmousedown="flip()" />
    <div class="dropdown">
        <button class="dropbtn">MENU</button>
        <nav class="dropdown-content">
            <a class="links" href="/index">HOME</a>
            <a class="links" href="/works">WORKS</a>
            <a class="links" href="/branding">BRANDING</a>
            <a class="links" href="/faq">FAQ</a>
            <a class="links" href="/contact">CONTACT</a>
            <a class="links" href="/register">REGISTER</a>
        </nav>
    </div>
</header>