<!DOCTYPE HTML>
<html lang="en" dir="ltr">

    <%- include("partials/head") %>

<body>
    <!-- Header section -->
    <%- include("partials/header") %>

    <div id="brandingbody">
        <div id="brandingtexts">
            <h1>Branding</h1>
            <div id="brandingfirstrow">
                <img src="/branding/shoplogo.jpg" alt="Shop logo" class="brandingfirst">
                <img src="/branding/logomockup.jpg" alt="Logo on shop " class="brandingfirst">
            </div>
            <h1>Promoting logos of various businesses and digitalizing them</h1>
            <div id="brandingsecondrow">
                <img src="/branding/webdev.jpg" alt="Macbook with logo" class="brandingsecond">
                <img src="/branding/flashdrive.jpg" alt="Flashdrive with logo" class="brandingsecond">
            </div>
            <h1>Creating Moodboards And Designing Packages</h1>
            <div id="brandingthirdrow">
                <img src="/branding/newmoodboard.jpg" alt="Moodboard" class="brandingsecond">
                <img src="/branding/packaging.jpg" alt="packaging mockup" class="brandingthird">
            </div>
        </div>
    </div>

    <!--FOOTER-->
    <%- include("partials/footer") %>
</body>
</html>
