<!DOCTYPE HTML>
<html lang="en" dir="ltr">
    <%- include("partials/head") %>

<body>
    <!-- Header section -->
    <%- include("partials/header")%>

    <!--Contact form-->
    <div id="contactcontainer">
        <h1>Contact us</h1>
        <hr  />
        <form action="/messages" method="POST" id="form">
            <label for="firstName" class="contactlabel">First name: </label>
                <input type="text"  class="contactinput" name="firstName" placeholder="Your first name">

            <label for="lastName" class="contactlabel">Last name: </label>
                <input type="text" class="contactinput" name="lastName" placeholder="Your last name">

            <label for="email" class="contactlabel">Email: </label>
                <input type="email" id="email" class="contactinput" name="email" placeholder="Your email">
                <p id="demo"></p>

            <label for="subject" class="contactlabel">Subject: </label>
                <input type="text" class="contactinput" name="subject" placeholder="Subject">

            <label for="message" class="contactlabel">Message: </label>
                <input type="text" id="message" class="contactinput" name="message" placeholder="Your message">

            <label for="button" class="contactlabel"></label>
                <button type="submit" id="button">Send</button>

        </form>
    </div>
    
    <!--FOOTER-->
    <%- include("partials/footer") %>
</body>
</html>
