<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr">

<!-- Head section -->
<%- include("partials/frhead") %>


<body>
    <!-- Header section -->
    <%- include("partials/frheader") %>

    <!--Contact form-->
    <div id="contactcontainer">
        <h1>NOUS CONTACTER</h1>
        <hr  />
        <form action="/messages" method="POST" id="form">
            <label for="firstName" class="contactlabel">Prénom: </label>
                <input type="text"  class="contactinput" class="frcontact" name="firstName" placeholder="Votre prénom">

            <label for="lastName" class="contactlabel">Nom de famille: </label>
                <input type="text" class="contactinput" class="frcontact" name="lastName" placeholder="Votre Nom">

            <label for="email" class="contactlabel">E-mail: </label>
                <input type="email" id="email" class="contactinput" class="frcontact" name="email" placeholder="Votre e-mail"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"><p id="demo"></p>

            <label for="subject" class="contactlabel">Sujet: </label>
                <input type="text" class="contactinput" class="frcontact" name="subject" placeholder="Sujet">

            <label for="message" class="contactlabel">Message: </label>
                <input type="text" id="message" class="contactinput" class="frcontact" name="message" placeholder="Votre message">

            <label for="button" class="contactlabel"></label>
                <button type="submit" name="button" id="button">Envoyer</button>

        </form>
    </div>
    
    <!--Footer section-->
    <%- include("partials/frfooter") %>
</body>
</html>
