<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr">
<!-- Head section -->
<%- include("partials/frhead") %>

<body>
    <!-- Header section -->
    <%- include("partials/frheader") %>

    <h1 id="faq">QFP</h1>
    <div id="faqcontainer">
        <div id="faqtexts">
            <p id="faqfirstp">Questions Fréquemment Posées</p>
            <h1>Combien coûte la création d'un site Web?</h1>
            <p>Cela dépendra des fonctionnalités dont vous avez besoin.</p>
            <h1>Y a-t-il des mensualités?</h1>
            <p>Nous facturons des frais minimes pour maintenir votre site Web à jour et apporter de petits changements.</p>
            <h1>Quel sera le contenu?</h1>
            <p>Le contenu peut être tout ce que vous voulez. Nous pouvons faire quelques suggestions pour l'amélioration du site Web.</p>
            <h1>Et si je ne suis pas sûr de ce que je veux?</h1>
            <p>Beaucoup de nos clients ne sont pas sûrs de ce que devrait être leur site Web. Nous examinons votre entreprise et faisons des suggestions en conséquence.</p>
            <h1>Pourquoi devrions-nous choisir cette entreprise pour notre site Web?</h1>
            <p>Nous nous engageons envers nos clients. Nous répondons rapidement, et nous mettons à jour le
                sites Web à temps. Nous avons le meilleur prix pour la qualité que vous choisissez.
                nous construisons le site Web en quelques jours pour assurer la satisfaction du client.</p>
        </div>
    </div>
    <!--Footer section-->
    <%- include("partials/frfooter") %>
</body>
</html>
