<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr">
<!-- Head section -->
<%- include("partials/frhead") %>
<body>
    <!--Header section-->
    <%- include("partials/frheader") %>
    
    <!--Body section-->
    <div id="middle">
        <div id="middletexts">
            <h1>BIENVENUE SUR MON SITE WEB</h1>
            <p>Ce site présente certaines des fonctionnalités que nous pouvons offrir aux<br  />
                diverses entreprises. Chaque entreprise a son propre
                Besoins. <br  />Nous avons tous les outils pour digitaliser votre entreprise.</p>
        </div>
    </div>
    
    <!--Footer section-->
    <%- include("partials/frfooter") %>
</body>
</html>
