<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr">
<!-- Head section -->
<%- include("partials/frhead") %>

<body>
    <!-- Header section -->
    <%- include("partials/frheader") %>

    <!-- MIDDLE SECTION-->
    <div id="workspictures">
        <!-- PACKAGING DESIGN-->
        <h1 class="workstexts">CONCEPTIONS D'EMBALLAGE</h1>
        <div class="pictures1">
            <img src="images/beer.jpg" alt="Beer bottle" class="one"  />
            <img src="images/Disk.jpg" alt="Disk" class="one"  />
        </div>

        <!--DUST JACKET-->
        <h1 class="workstexts">BLOUSONS DE POUSSIÈRE</h1>
        <div class="pictures2">
            <img src="images/book_Page_1.jpg" alt="Dust jacket" class="two"  />
            <img src="images/book_Page_2.jpg" alt="Dust jacket" class="two"  />
            <img src="images/book_Page_3.jpg" alt="Dust jacket" class="two"  />
        </div>

        <!--FIXING PICTURES-->
        <h1 class="workstexts">FIXATION DE VIEILLES PHOTOS</h1>
        <div class="pictures3">
            <img src="images/pictures-fixed_Page_1.jpg" alt="Fixed picture" class="three"  />
            <img src="images/pictures-fixed_Page_2.jpg" alt="Fixed picture" class="three"  />
        </div>
        <div class="pictures4">
            <img src="images/pictures-fixed_Page_3.jpg" alt="Fixed picture" class="four"  />
            <img src="images/pictures-fixed_Page_4.jpg" alt="Fixed picture" class="four"  />
        </div>


        <!--RETOUCHING PICTURES-->
        <h1 class="workstexts">RETOUCHE PHOTOS</h1>
        <div class="pictures5">
            <img src="images/UGLY.jpg" alt="Before picture" class="five"  />
            <img src="images/GOOD.jpg" alt="After picture" class="five"  />
        </div>

        <!--POSTER GRAPHIC AND SHIRT DESIGN-->
        <h1 class="workstexts">CONCEPTION GRAPHIQUE</h1>
        <div class="pictures6">
            <img src="images/treejpg.jpg" alt="Graphic picture" class="six"  />
            <img src="images/t-shirt.jpg" alt="T-shirt design" class="six"  />
            <img src="images/Poster.jpg" alt="Poster design" class="six"  />
        </div>
    </div>
    <!--FOOTER-->
    <%- include("partials/frfooter") %>

</body>
</html>
