<!DOCTYPE HTML>
<html lang="en" dir="ltr">

    <%- include("partials/head") %>

<body>
    <!-- Header section -->
    <%- include("partials/header")%>

    <!-- MIDDLE SECTION-->
    <div id="workspictures">
        <!-- PACKAGING DESIGN-->
        <h1 class="workstexts">Packaging designs</h1>
        <div class="pictures1">
            <img src="/images/beer.jpg" alt="Beer bottle" class="one"  />
            <img src="/images/Disk.jpg" alt="Disk" class="one"  />
        </div>

        <!--DUST JACKET-->
        <h1 class="workstexts">Dust jackets</h1>
        <div class="pictures2">
            <img src="/images/book_Page_1.jpg" alt="Dust jacket" class="two"  />
            <img src="/images/book_Page_2.jpg" alt="Dust jacket" class="two"  />
            <img src="/images/book_Page_3.jpg" alt="Dust jacket" class="two"  />
        </div>

        <!--FIXING PICTURES-->
        <h1 class="workstexts">Fixing old pictures</h1>
        <div class="pictures3">
            <img src="/images/pictures-fixed_Page_1.jpg" alt="Fixed picture" class="three"  />
            <img src="/images/pictures-fixed_Page_2.jpg" alt="Fixed picture" class="three"  />
        </div>
        <div class="pictures4">
            <img src="/images/pictures-fixed_Page_3.jpg" alt="Fixed picture" class="four"  />
            <img src="/images/pictures-fixed_Page_4.jpg" alt="Fixed picture" class="four"  />
        </div>


        <!--RETOUCHING PICTURES-->
        <h1 class="workstexts"> Retouching pictures</h1>
        <div class="pictures5">
            <img src="/images/UGLY.jpg" alt="Before picture" class="five"  />
            <img src="/images/GOOD.jpg" alt="After picture" class="five"  />
        </div>

        <!--POSTER GRAPHIC AND SHIRT DESIGN-->
        <h1 class="workstexts"> Graphic designs</h1>
        <div class="pictures6">
            <img src="/images/treejpg.jpg" alt="Graphic picture" class="six"  />
            <img src="/images/t-shirt.jpg" alt="T-shirt design" class="six"  />
            <img src="/images/Poster.jpg" alt="Poster design" class="six"  />
        </div>
    </div>

    <!--FOOTER SECTION-->
    <%- include("partials/footer") %>
</body>
</html>
