<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALL MESSAGES</title>
</head>
<body>
    <h1>All MESSAGES</h1>
    <ul>
        <% for (let message of messages) { %>
            <li><a href="/messages/<%=message._id%> "><%= message.firstName + " " + message.lastName %></a> </li>
        <% } %> 
    </ul>
</body>
</html>